<!DOCTYPE html>
<html ng-app="StoreListApp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Store App </title>
   
    <!-- 1000s of lines of Code of AngularJS to help enhance our Javascript-->
    <!-- <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/anglar.min.js"></script> -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    
    <!-- Our Javascript File -->
    <script type="text/javascript" src="app.js"></script>
    
    <!-- 1000s of lines of Code of Bootstrap to help enhance our CSS-->
    <!-- <link rel="stylesheet" type="text/css" href="https://stackpath.Bootstrap.com/Bootstrap/4.5.2/css/Bootstrap.min.css"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    
    <!-- Our CSS File-->
    <!-- <link rel="stylesheet" type="text/css" ref="style.css"> -->
    <link rel="stylesheet" href="style.css">
</head>    
<body ng-controller="ListController">
    <center>
        <h1>Example 1</h1>
    <h1>With Games </h1>
    <hr>

    <h3> welcome to StoreListApp</h3>
    <h4>what we are playing<big>{{list. ength}}</big>Games</h4>
    <table>
    </table>

    <table>
        <tr ng-repeat="game in List">
            <td>{{$index}}</td>
            <td>{{game}}</td>
            <td>
                <button class="btn-danger" ng-click="remove(game)">X</button></td>
        </tr>
    </table>

    <hr>

    <input type="text" ng-model="newGame">
        <button class="btn btn-success" ng-click="addGame(newGame)">Add</button>
    </center>
</body>
</html>
