table {
border-style: 1px solid red;
}

tr:hover {
    background-color: burlywood;
    color: rgb(76, 39, 243);
    background-color: bisque; 
    width: 40px;
    font-size: 40;
    border: 4px solid gray;
    text-align: center;
    padding: 5px;
}

h1{
    color: brown;
}
input{
    font-size: 20px;
    width: 200px;
    margin-top: 6px;
    color: darkblue;
    /* padding: 10px; */
}
button{
    width: 70px;
    /* height: 56px; */
}